body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map {
    height: 100%;
    width: 100%;
}

/* Custom styles for Leaflet zoom buttons */
.leaflet-control-zoom {
    display: flex;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5px;
}

.leaflet-control-zoom a {
    color: white;
    /* Color of the zoom buttons */
    background-color: #222;
    /* Background color of the zoom buttons */
    border: none;
    /* Remove border */
    padding: 10px;
    /* Padding for the buttons */
    font-size: 18px;
    /* Font size */
    border-radius: 0px;
    /* Rounded corners */
    margin: 2px;
    /* Space between buttons */
    text-decoration: none;
    /* Remove underline */
}

.leaflet-control-zoom a:hover {
    background-color: #333;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
}

.leaflet-bar a.leaflet-disabled {
    background-color: #666;
    /* Background color on hover */
    color: #fff;
    /* Text color on hover */
}

.go-back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    left: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #222;
    color: white;
    /* z-index: 1000; */
    text-decoration: none;
    z-index: 1000;
}

.link {
    margin: 30px 30px;
    padding: 20px 40px;
    background-color: #444;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}